# Folders
.app_data
.git
.ignore
#TOKEN:^IGNORE__HTTPS
certs.*
#TOKEN:$IGNORE__HTTPS
#TOKEN:^IGNORE__VHOST
conf.d
#TOKEN:$IGNORE__VHOST
#TOKEN:^IGNORE__E2E
e2e/cypress/screenshots
#TOKEN:$IGNORE__E2E
dist
node_modules

# Files
*.log
*.patch
.DS_STORE
