# Folders
.app_data
.git
.ignore
#TOKEN:^IGNORE__HTTPS
certs*
#TOKEN:$IGNORE__HTTPS
#TOKEN:^IGNORE__VHOST
conf.d
#TOKEN:$IGNORE__VHOST
dist
node_modules

# Files
*.log
*.patch
.DS_STORE
#TOKEN:^IGNORE__DOTENV
.env
#TOKEN:$IGNORE__DOTENV
#TOKEN:^IGNORE__E2E

# E2E files/folders
artifacts
reports
#TOKEN:$IGNORE__E2E
